///// ---------------------------- ///
//// ----- App Body Layouts ----- ////
/// ---------------------------- /////

// --- Generic Card Styling --- //
.plot-card {
  @include card;
  @include card-shadow;
}

// --- Grid Layout for 4 Cards --- //
.body-layout {
  display: grid;
  padding: 0 1em;
  grid-template-areas:
    "inputs"
    "time-series" 
    "acf-pcf" 
    "unit-circle";
  grid-template-columns: 1fr ;
  grid-template-rows: repeat(4, 1fr);
  
  @include mediaFrom($breakLg) {
    grid-template-areas: 
    "time-series inputs"
    "acf-pcf unit-circle";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.time-series {
  grid-area: time-series;
}

.inputs {
  grid-area: inputs;
}

.acf-pcf {
  grid-area: acf-pcf;
}

.unit-circle {
  grid-area: unit-circle;
}

// --- White Space for Separation Between Content and Footer --- //
.white-space {
  height: 55px;
}
