body {
  margin: 0 !important;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

// --- Preformatted Text Output for Model Summary --- //
pre {
  overflow: auto;
}

// --- Padding for Card Tabset Elements --- //
.ui.tab.bottom.attached.grid.segment.active {
  padding: 1em;
}
